* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-image: url(images/bg-hero-desktop.svg);
  margin-bottom: 15%;
  border: solid hsl(193, 100%, 96%);
}

h2 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 20px;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  align-content: center;
}

.div1 {
  padding: 30px;
  margin: 40px;
  width: 50%;
}

.div2 {
  margin-bottom: 40px;
  width: 50%;
}

.button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 20%;
  border-color: transparent;
  color: white;
  padding: 15px;
  margin-top: 10px;
}

.log {
  display: flex;
}

.logo {
  padding-right: 70%;
}

.try {
  background-color: white;
  border-color: transparent;
  border-radius: 20%;
  color: hsl(192, 100%, 9%);
  padding: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;
}

main .div1 {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5%;
  outline-style: outset;
  outline-color: aliceblue;
}

main .div2 {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5%;
  border: solid hsl(193, 100%, 96%);
  outline-style: outset;
  outline-color: aliceblue;
}

.div3 {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5%;
  outline-style: outset;
  outline-color: aliceblue;
}

footer {
  background-color: hsl(192, 100%, 9%);
}
